@keyframes Rgbborder {
  0% {
    border-color: #ff0000;
  }
  25% {
    border-color: #00ff00;
  }
  50% {
    border-color: #ffff00;
  }
  75% {
    border-color: #00ffff;
  }
  100% {
    border-color: #ff0000;
  }
}

.bg__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.todo__input select {
  font-family: "Faster One", cursive;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: Rgbtext 5s ease infinite;
  background: linear-gradient(90deg, #3a86ff, #8338ec);
}

.todo__input select option {
  font-family: "Faster One", cursive;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: Rgbtext 5s ease infinite;
  background: linear-gradient(90deg, #3a86ff, #8338ec);
}

@keyframes Rgbtext {
  0% {
    color: #1eff00;
  }
  50% {
    color: #ffbb00;
  }
  75% {
    color: #ffe600;
  }
  100% {
    color: #ff0000;
  }
}

.box {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  border-radius: 8px;
  color: #fff;
  font-family: "Faster One", cursive;
  display: flex;
  gap: 10px;

  font-size: 16px;
  animation: Rgbborder 5s linear infinite;
}

.statistics {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  border-radius: 8px;
  color: #fff;
  font-family: "Faster One", cursive;
  font-size: 16px;
  width: 40%;
  animation: Rgbborder 5s linear infinite;
}

.todo__container {
  background: rgba(255, 255, 255, 0.1);
  margin: 150px auto;
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  border: 3px dashed #ff0000;
  animation: Rgbborder 3s linear infinite;
  .todo__title {
    font-size: 38px;
    font-weight: 900;
    color: #ff006e;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 4px 4px 0px rgba(255, 0, 110, 0.3);

    animation: rgbtext 13s ease infinite;
  }

  @keyframes rgbtext {
    0% {
    }
    10% {
      color: #3a86ff;
    }
    25% {
      color: #ff006e;
    }
    40% {
      color: #ffbe0b;
    }

    50% {
      color: #8338ec;
    }
    60% {
      color: #3a86ff;
    }
    75% {
      color: #ff006e;
    }
    90% {
      color: #ffbe0b;
    }

    100% {
      color: #3a86ff;
    }
  }
  .todo__input {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
    font-family: "Faster One";

    #taskInput {
      flex: 1;
      padding: 14px 18px;
      border-radius: 12px;
      border: 2px solid #1900ff;
      background: transparent;
      font-size: 16px;
      font-family: "Faster One";

      color: #ff006e;

      &:focus {
        outline: none;
        border-color: #00f5ff;
        color: #00f5ff;
        box-shadow: 0 0 20px #ff006e, 0 0 40px #00f5ff;
        animation: rgbBorder 2s infinite;
      }
    }

    @keyframes rgbBorder {
      0%,
      100% {
        border-color: #ff006e;
      }
      50% {
        border-color: #00f5ff;
      }
    }

    #addBtn,
    #clearBtn {
      padding: 10px 15px;
      border: none;
      border-radius: 10px;
      font-weight: 500;
      transition: 0.2s ease;
      font-family: "Faster One";
    }

    #addBtn {
      background-color: #4cd964;
      color: white;
      &:hover {
        opacity: 0.85;
      }
    }

    #clearBtn {
      background-color: #ff5b5b;
      color: white;
      &:hover {
        opacity: 0.85;
      }
    }
  }

  .todo__list {
    max-height: 300px;
    overflow-y: auto;
    width: 100%;

    .todo__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 12px;
      margin-bottom: 8px;
      background: #7f3232;
      transition: all 0.3s ease-in-out;
      border-radius: 10px;
      overflow: hidden;

      &:hover {
        background: #9c4141;
        transform: translateX(10px) translateY(3px) scale(1.02);
      }

      span {
        flex: 1;
        margin-right: 10px;
      }

      .edit__btn {
        background-color: #ffcc33;
        padding: 10px 15px;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        transition: 0.2s;
      }
      .delete__btn {
        background-color: #ff5b5b;
        padding: 10px 15px;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        transition: 0.2s;
        color: white;
      }
    }
  }
}
